h1 {
    text-align: center;
}

p {
    font-weight: bold;
    margin-left: 20px;
    text-justify: unset;
}

img {
    max-width: 80%;
    margin-left: 200px;
    margin-top: 20px;
}
.card-img-top {
    height: 50px;
    max-width: 50%;
}

h2 {
    margin-left: 20px;
}

form {
    margin-left: 10px;
}

header {
    max-width: 100%;
}

.facebook {
    margin: 10px;
}

a {
    margin-left: 10px;
}
.map {
    margin: 10px;
}
.telephone {
    margin: 10px;
}
.img {
    max-width: 80%;
    margin-left: 200px;
    margin-top: 20px;
}
